name: Node CI CD

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [lts/erbium, lts/fermium, lts/*]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm run build
      - run: npm test

  check_version_changed:
    if: github.ref == 'refs/heads/master'
    needs: [build]
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.check_package_json.outputs.changed }}
      
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - id: check_package_json
        run: |
          if ! git diff HEAD^ HEAD package.json | grep '+  "version":'; then
            echo "::set-output name=changed::false"
          else
            echo "::set-output name=changed::true"
          fi

  publish-npm:
    if: github.ref == 'refs/heads/master' && needs.check_version_changed.outputs.changed == 'true'
    needs: [build, check_version_changed]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run build
      - run: cd dist/src && npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  publish-gpr:
    if: github.ref == 'refs/heads/master' && needs.check_version_changed.outputs.changed == 'true'
    needs: [build, check_version_changed]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://npm.pkg.github.com/
      - run: npm ci
      - run: npm run build
      - run: |
          cd dist/src
          sed -i 's/"apple-version-history"/"@gordey4doronin\/apple-version-history"/' "package.json"
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
