name: Node CI CD

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16, 18, 20]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm run build
      - run: npm test

      - name: test
        run: |
          if echo '${{ github.event.pull_request.labels.*.name }}' | jq -e 'index("LSC")' > /dev/null; then
            echo "LSC label found."
            echo "EXTRA_ARGS=--ignore-size-check" >> $GITHUB_ENV
          else
            echo "No LSC label."
            echo "EXTRA_ARGS=" >> $GITHUB_ENV
          fi


  check_version_changed:
    if: github.ref == 'refs/heads/main'
    needs: [build]
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.check_package_json.outputs.changed }}
      
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - id: check_package_json
        run: |
          if ! git diff HEAD^ HEAD package.json | grep '+  "version":'; then
            echo "::set-output name=changed::false"
          else
            echo "::set-output name=changed::true"
          fi

  publish-npm:
    if: github.ref == 'refs/heads/main' && needs.check_version_changed.outputs.changed == 'true'
    needs: [build, check_version_changed]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Read .nvmrc
        run: echo NVMRC=`cat .nvmrc` >> $GITHUB_ENV

      - name: Use Node.js ${{ env.NVMRC }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NVMRC }}
          registry-url: https://registry.npmjs.org/

      - run: npm ci
      - run: npm run build
      - run: cd dist/src && npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  publish-gpr:
    if: github.ref == 'refs/heads/main' && needs.check_version_changed.outputs.changed == 'true'
    needs: [build, check_version_changed]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Read .nvmrc
        run: echo NVMRC=`cat .nvmrc` >> $GITHUB_ENV

      - name: Use Node.js ${{ env.NVMRC }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NVMRC }}
          registry-url: https://npm.pkg.github.com/
      - run: npm ci
      - run: npm run build
      - run: |
          cd dist/src
          sed -i 's/"apple-version-history"/"@gordey4doronin\/apple-version-history"/' "package.json"
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
